/************ HEADER STYLES START *********/
.site-header__wrapper {
    margin-bottom: 70px;
}

.site-header__like {
    position: absolute;
    top: 50px;
    right: calc(50% - 540px);
}

/************ HEADER STYLES END *********/